<form>
  <input type="text" class="edit_title text" value="<%- post.title %>">
  <textarea type="text" class="edit_message text" placeholder="<%- post.message %>"></textarea>
  <ul class="buttons">
      <li>
        <button name="save">Save</button>
      </li>
</form>
