// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: lightslategray;
}
.posts_list {
  /*margin: 0 auto;*/
  width: 90%;
  list-style-type: none;

  .posts_title_bar {
    background-color: dimgray;
    border-radius: 10px;
    border: 1px solid black;
    padding: 3px;

    .new_post_button {
      background-color: gray;
      margin: 5px;
      border-radius: 5px;
      color: white;
      font-family: arial;
      font-size: 12px;
      border: 1px solid black;
    }

    .new_post_button:hover {
      background-color: black;
      color: white;
      cursor: pointer;
      border: 1px solid white;
    }
  }

  .posts {

    .post {
      width: 100%;
      height: auto;
      display: inline-block;
      background-color: lightgray;
      border: 1px solid black;
      border-radius: 10px;
      margin: 3px 0 3px 0;
      font-family: arial;

      .text {
        margin: 3px 0 3px 20px;
      }

      .post_title {
        width: 80%;
        overflow: hidden;
        text-decoration: underline;
        cursor: pointer;
        font-size: 18px;
      }

      .post_message {
        display: none;
      }

      .post_date {
        width: 70%;
        float: left;
        font-size: 12px;
      }

      .buttons {
        list-style-type: none;
        float: right;
        margin-right: 10px;
        margin-top: -15px;

        li {
          display: inline-block;

          input {
            background-color: transparent;
          }

          input:hover {
            background-color: red;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}
